<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>注册</title>
<link rel="stylesheet" href="./../style/weui.min.css" />
<link rel="stylesheet" href="./../style/mStyle.css"/>
<!-- <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.4/weui.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script> -->
<script src="./../js/httpUtils.js"></script>
<style>
	.container {
	    display:flex;
	    flex-direction:column;
	    justify-content: space-between;
	    align-items: center;
	    position: fixed;
	    top: 30%;
	    width: 70%;
	}
	
	.input {
		/* border:1px solid #faa; */
		text-align: center;
		flex: 1
	}
</style>
</head>
<body>
	<form class="container"  id="form">
		<div class="horizontal">
			<span>用&ensp;户&ensp;名：</span>
			<input class="input" placeholder="" name="name" id="name">
		</div>
		<div class="horizontal" style="margin-top: 10px">
			<span>密&emsp;&emsp;码：</span>
			<input class="input" type="password"  name="password" id="password">
		</div>
		<div class="horizontal" style="margin-top: 10px">
			<span>确认密码：</span>
			<input class="input" type="password"  name="password" id="password2">
		</div>
		<button class="weui-btn weui-btn_primary" style="margin-top: 10px"  onclick="login()" type="button">注&emsp;&emsp;册</button>
	</form>
	<script type="text/javascript">
	console.log(localStorage.getItem("a"));
   		function login() {
   			var name = $('#name').val()
   	 		if (isEmpty(name)) {
   				weui.alert('账号不能为空！');
   				return
   			}
   			var password = $('#password').val()
   			if (isEmpty(password)) {
   				weui.alert('密码不能为空！');
   				return
   			}
   			var password2 = $('#password2').val()
   			if (isEmpty(password)) {
   				weui.alert('请确认密码！');
   				return
   			}
   			if (password != password2) {
   				weui.alert('两次输入的密码不一致！');
   				return
   			}
   			setUserName(name)
   			setPassWord(password)
			request({
				url: 'Login',
				msg: "正在登录",
				success: function(json) {
					weui.toast('注册成功')
					setTimeout(function() {
					/* 	$(location).attr('href', 'signin.html'); */
						/* history.go(-1) */
						history.back();
						location.reload();
					}, 1500)
				}
			})
		}
	</script>
</body>
</html>